@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(25px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeUp {
  animation: fadeUp 0.9s ease forwards;
}

.hero-video-section {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.hero-video-section__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -2;
}

.parallax-video {
  perspective: 1000px;
}

.parallax-video__inner {
  transform: translateY(-10%) scale(1.15);
  transition: transform 0.6s ease-out;
}

.parallax-video.parallax-active .parallax-video__inner {
  transform: translateY(0%) scale(1.15);
}

.neon-card {
    background: #11151B;
    border-radius: 0.75rem;         
    border: 1px solid rgba(56, 189, 248, 0.4); 
    color: #E5E7EB;                 
    padding: 1rem 1.25rem;          
    font-size: 0.95rem;
    box-shadow: 0 0 20px rgba(56, 189, 248, 0.18);
    transition: box-shadow 0.25s ease, border-color 0.25s ease, transform 0.25s ease;
  }

  .neon-card:hover {
    border-color: rgba(129, 140, 248, 0.8); /* посильнее неон */
    box-shadow: 0 0 32px rgba(129, 140, 248, 0.5);
    transform: translateY(-2px);
  }

  .feature-item {
    color: #d1d5db;
    font-size: 1.05rem;
    line-height: 1.45rem;
    transition: 0.25s ease;
  }
  .feature-item:hover {
    color: #fff;
    text-shadow: 0 0 8px rgba(150, 150, 255, 0.8);
  }
  .neon-icon {
    font-size: 1.25rem;
    filter: drop-shadow(0 0 6px rgba(120, 120, 255, 0.7));
  }


  .devices-img{
    transform: scale(1.4);
    transform-origin: right center;
  }




